fastapi>=0.111.0
uvicorn==0.28.0
sqlalchemy==2.0.28
psycopg[binary]>=3.1.18
redis==5.0.3
pydantic>=2.7.0
pydantic-settings>=2.2.1
pyjwt==2.8.0
passlib==1.7.4
bcrypt==4.1.2
qrcode==7.4.2
pillow>=10.3.0